doc/Example/_fuentes/src/main/resources/wsdls/BPS_RegEmpresasV002/WsRegEmpresasService_schema3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://bps.gub.uy/atyr/v003/datatypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjError" final="extension restriction">
    <xs:sequence>
      <xs:element name="errorCode" type="xs:string" minOccurs="0"/>
      <xs:element name="errorDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="severity" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>