doc/Example/_fuentes/src/main/resources/wsdls/BPS_RegEmpresasV002/WsRegEmpresasService_schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://bps.gub.uy/generics/results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultobtVersion">
    <xs:sequence>
      <xs:element name="nombre" type="xs:string" minOccurs="0"/>
      <xs:element name="version" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>