doc/Example/_fuentes/src/main/resources/wsdls/BPS_RegEmpresasV002/WsRegEmpresasService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://bps.gub.uy/v001/datatypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorNegocio">
    <xs:sequence>
      <xs:element name="codigo" type="xs:string" minOccurs="0"/>
      <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>