doc/Example/_fuentes/src/main/resources/wsdls/ApiaWSapiawsconsulta_pyme v2.wsdl

<wsdl:definitions targetNamespace="http://www.apiasolutions.com/WebServices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.apiasolutions.com/WebServices" xmlns:intf="http://www.apiasolutions.com/WebServices" xmlns:tns1="http://AutogenerateWSDL.ws.dogma.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://www.apiasolutions.com/WebServices" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://AutogenerateWSDL.ws.dogma.com"/>
   <element name="consulta_pyme">
    <complexType>
     <sequence>
      <element name="ApiaWSInput" type="impl:ApiaWSInputType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ApiaWSInputType">
    <complexContent>
     <extension base="tns1:AbstractApiaWSInputType">
      <sequence>
       <element name="Q_rut" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="consulta_pymeResponse">
    <complexType>
     <sequence>
      <element name="ExecResult" type="impl:ExecResultType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Row">
    <sequence>
     <element name="razon_social" nillable="true" type="xsd:string"/>
     <element name="categoria" nillable="true" type="xsd:string"/>
     <element name="tipo_sociedad" nillable="true" type="xsd:string"/>
     <element name="vigencia" nillable="true" type="xsd:date"/>
    </sequence>
   </complexType>
   <complexType name="ExecResultType">
    <sequence>
     <element name="resultCode" type="xsd:int"/>
     <element name="resultMessage" type="xsd:string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="resultQueryRows" type="impl:Row"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://AutogenerateWSDL.ws.dogma.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://www.apiasolutions.com/WebServices"/>
   <complexType abstract="true" name="AbstractApiaWSInputType">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="consulta_pymeRequest">

      <wsdl:part element="impl:consulta_pyme" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consulta_pymeResponse">

      <wsdl:part element="impl:consulta_pymeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ApiaWSInterface">

      <wsdl:operation name="consulta_pyme">

         <wsdl:input message="impl:consulta_pymeRequest" name="consulta_pymeRequest">

       </wsdl:input>

         <wsdl:output message="impl:consulta_pymeResponse" name="consulta_pymeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ApiaWSconsulta_pymeSoapBinding" type="impl:ApiaWSInterface">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consulta_pyme">

         <wsdlsoap:operation soapAction="apiaAction"/>

         <wsdl:input name="consulta_pymeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consulta_pymeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ApiaWSInterfaceService">

      <wsdl:port binding="impl:ApiaWSconsulta_pymeSoapBinding" name="ApiaWSconsulta_pyme">

         <wsdlsoap:address location="http://www.tramites-test.miem.gub.uy/TramitesEnLinea/services/ApiaWSconsulta_pyme"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
